@import "tailwindcss";

:root {
  --background: #f3f7fa;
  --surface: #ffffff;
  --primary: #0062bf;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --font-display: var(--font-fustat);
  --font-body: var(--font-inter-tight);
}

body {
  background: var(--background);
  color: var(--color-slate-900);
  font-family: var(--font-body);
}
